.default_div{
  width: 50px;
  height: 50px;
  padding:20px;
  background-color: red;
  color: #fff;
  margin-top: 40px;
}

.links {
  padding: 0 ;
  max-width: 480px;
  margin: 0 auto;
  list-style: none;
  width: 100%;
  li {
    margin-bottom: 20px;
    background: #757575;
    padding: 15px;
  }
  a {
    padding: 10px;
    color: #fff;
    display: block;
  }

  h2 {
    color: #fff;
  }
}

.is-open.active {
  background-color: green;
}

.active-again {
  background-color: red;
  padding: 20px;
}
