.content {
  text-align: center;
}
.button {
  max-width: 500px;
  width: 100%;
  padding: 20px;
  font-size: 30px;
  color: white;
  margin-bottom: 20px;

}
.my-div {
  width: 200px;
  height: 200px;
  display: inline-flex;
  margin-right: 10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  opacity: 1;
  transition: opacity 5s;

  &__text {
    font-size: 20px;
  }
  &__close-button {
    position: absolute;
    right: -8px;
    top: -7px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
    background: grey;
    border-radius: 50%;
    cursor: pointer;
  }
  &__countNumberOfElements {
    font-size: 8rem;
    color: #fff;
  }
}
